<html lang="en">
	<head>
		<title>List of categories</title>
	</head>
	<body>
		Categories:
		<ul>
			{{range .Categories}}
				<li>{{.Title}}</li>
			{{end}}
		</ul>
		Products:
		<ul>
			{{range .Products}}
				<li>{{.Title}}</li>
			{{end}}
		</ul>
	</body>
</html>
